<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/home">Home</a></li>
  <li class="breadcrumb-item active">Blog</li>
</ol>
  <div class="row">
    <div class="col-12">
<% if logged_in?%>

<h1>Blogs</h1>
      <% if current_user.blogs.count ==0 %>
      <h2>Welcome to Blogs</h2>
      <h3><center>U can write your first blog here</center></h3>
      <div class="card" >
    <div class="card-body">
      <a><%= link_to "Create a New Article", new_blog_path, class: "new_article" %></a>
    </div>
  </div>
  <h4><center>New Blog On Website</center></h4>
  <%= render partial: "blog2"%>
  <% end %>
      <% if current_user.blogs.count >0 %>
          <%= render partial: "blog2"%>
            <a><%= link_to "Create a New Article", new_blog_path, class: "new_article" %></a>
  <% end %>
      <% else %>

      <div class="center jumbotron">
<div class="container">

        <h1>Blog!</h1>

        <h2> Write your first blog </h2>
        <h4>U haven't signed in yet</h4>

       <%= link_to "Sign in", '/login', class: "btn btn-lg btn-primary", id: "Blogbutton1" %>
       <%= link_to "Sign up", '/signup', class: "btn btn-lg btn-primary",id: "Blogbutton2" %>
       <p id="cau1">Create an account if you havent got one</p>
        </div>
      </div>
  <% end %>
