
  <div class="row">
    <div class="col-12">
<% if logged_in?%>

<h1>Blogs</h1>
      <% if @blogs.count ==0 %>
      <h2>Welcome to Blogs</h2>
      <h3><center>U can write your first blog here</center></h3>
      <div class="card" >
    <div class="card-body">
      <a><%= link_to "Create a New Article", new_blog_path, class: "new_article" %></a>
    </div>
  </div>
  <% end %>
      <% if @blogs.count >0 %>
        <% @blogs.each do |blog|%>
        <div class="card" id="blog2" >
          <div class="row">
            <div class="col-md-4">
              <section>
        <a id="avatar"><%= link_to gravatar_for(blog.user, size: 50), blog.user %></br>
          <a id="nameIndex"><%=blog.user.name  %></br>
            <%=blog.user.email%>
          </section>
        </div>
        <div class="col-md-8">
        <div class="card-body">
          <span class="name"><%= blog.title%></br></span>
        <span class="body"><%= truncate(blog.body) %></br></span>
        <span class="timestamp">
          Posted <%= time_ago_in_words(blog.created_at) %> ago.</br>
          <%= link_to blog_path(blog),class:'btn btn-primary' do%><%= fa_icon "circle"%> Show<%end%>
        </span>
      </div>
      </div>
      </div>
  <% end %>
  <% end %>
      <% else %>

      <div class="center jumbotron">
<div class="container">

        <h1>Blog!</h1>

        <h2> Write your first blog </h2>
        <h4>U haven't signed in yet</h4>

       <%= link_to "Sign in", '/login', class: "btn btn-lg btn-primary", id: "Blogbutton1" %>
       <%= link_to "Sign up", '/signup', class: "btn btn-lg btn-primary",id: "Blogbutton2" %>
       <p id="cau1">Create an account if you havent got one</p>
        </div>
      </div>
  <% end %>
