<div class="row">
  <div class="col-md-12">
<div class="card">
  <div class="card-header">
    Blog
  </div>
  <%if @blog.user.name==current_user.name%>
    <%= render partial: "blog3",locals: {a: @blog}%>
    <%else%>
    <%= render partial: "blog1",locals: {a: @blog}%>
    <%end%>
  </div>
  <%= render 'comments/comment' %>
    Comments
      <div class="Showform"><%= render 'comments/form'%></div>

  <div class="button1">
  <%= link_to blogs_path,class:'btn btn-primary' do%><%= fa_icon "circle"%>Back <%end%>
  <a><%= link_to "Create a New Blog", new_blog_path, class: "new_article",class:'btn btn-primary' %></a>
</div>

</div>
</div>
