<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >
      <%= link_to "FastMail", root_path, class: 'brand' %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" >
      <%= link_to "Home", root_path, class: 'link-to-text-color' %>
    </li>
  <li class="nav-item">
    <%= link_to "Album", galleries_path, class: 'link-to-text-color' %>
  </li>
  <li class="nav-item">
    <%= link_to "BLog", blogs_path, class: 'link-to-text-color' %>
  </li>
  <li class="nav-item">
    <%= link_to "About", about_path, class: 'link-to-text-color' %>
  </li>
  <% if logged_in? %>
  <li><%= link_to current_user[:name],current_user,class:'link-to-text-color'%></li>
  <li class="nav-item">
    <%= link_to "Logout", logout_path,method: :delete, class: 'link-to-text-color' %>
  </li>
  <% else %>
  <li class="nav-item">
    <%= link_to "Login", login_path, class: 'link-to-text-color' %>
  </li>
  <% end %>

    </ul>
  </div>
</nav>
<div class="container-fluid">
<div class="row">
  <div  class="col-3 col-sm-2 col-md-2 col-lg-1 col-xl-1 sidebar">


    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
          <li>
              <%= link_to "BLog", blogs_path, class: 'link-to-text-color' %>
          </li>
            <li>
                <%= link_to "About", about_path, class: 'link-to-text-color' %>
            </li>


              </nav>
</div>

<!-- Menu Left -->

    <div  class="col-9 col-sm-10 col-md-10 col-lg-11 col-xl-11" id ="cool">
      <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Your Favorite Source of Free Bootstrap Themes</h1>
          <hr>
          <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        </div>
      </div>
    </header>
</div>
</div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/creative.min.js"></script>
