<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >
      <%= link_to "FastMail", root_path, class: 'brand' %>
  </a>
  <button class="navbar-toggler" type="button" id="topnav" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" >
      <a><%= link_to "Home", root_path, class: 'link-to-text-color' %></a>
    </li>
  <li class="nav-item">
    <%= link_to "Album", galleries_path, class: 'link-to-text-color' %>
  </li>
  <li class="nav-item">
    <%= link_to "BLog", blogs_path, class: 'link-to-text-color' %>
  </li>
  <li class="nav-item">
    <%= link_to "About", about_path, class: 'link-to-text-color' %>
  </li>
  <% if logged_in? %>
  <li><%= link_to current_user[:name],current_user,class:'link-to-text-color'%></li>
  <li class="nav-item">
    <%= link_to "Logout", logout_path,method: :delete, class: 'link-to-text-color' %>
  </li>
  <% else %>
  <li class="nav-item">
    <%= link_to "Login", login_path, class: 'link-to-text-color' %>
  </li>
  <% end %>

    </ul>
  </div>
</nav>
<div class="wrapper"  id="HomePage">
  <div class="row">
  <div class="col-md-4">
    <div class="navbar-header">
  <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
  <i class="glyphicon glyphicon-align-left"></i>
  <span>Toggle Sidebar</span>
  </button>
  </div>
                        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <li>
                <%= link_to "BLog", blogs_path, class: 'link-to-text-color' %>
            </li>
              <li>
                  <%= link_to "About", about_path, class: 'link-to-text-color' %>
              </li>


          </nav>
  </div>

<!-- Menu Left -->
<div class="col-md-8">
  <div id="content">
<% flash.each do |message_type, message| %>
<%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>
<nav class="navbar navbar-default" id="navHome">
    <div class="container-fluid" id="Container1" >
       <div class="jumbotron" id="Jumbotron1">
         <h1 class="display-3">Welcom to FastMail!</h1>
          <p class="lead"> <center>This is a simple page for blogs ,albums.</center></p>
            <hr class="my-4">
                <p class="lead">
                 <a><center><%= link_to "Sign up", '/signup', class: "btn btn-lg btn-primary",id: "Blogbutton2" %></center></a>
              </p>
      </div>
    </div>
</nav>
</div>
</div>
</div>
</div>

<!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
           $(document).ready(function () {
               $('#sidebarCollapse').on('click', function () {
                   $('#sidebar').toggleClass('active');
               });
           });
       </script>
 <script type="text/javascript">
                  $(document).ready(function () {
                      $('#topnav').on('click', function () {
                          $('#navbarSupportedContent').toggleClass('active');
                      });
                  });
              </script>
