<h1>Album</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/home">Home</a></li>
  <li class="breadcrumb-item active">Album</li>
</ol>
<%= link_to "Create New Album",new_gallery_path,class:'btn btn-primary'%>
<h2>Album Created</h2>
<% @galleries.each do |gallery| %>
<div class="card">
    <div class="card-body">
<div class="row">
  <div class="col-md-4">
    <%if gallery.image_url.present? %>
<%= image_tag gallery.image_url(:medium).to_s %>
<% else %>
<%= image_tag("anh.jpg", :width => 300, :heigh =>300) %>
<% end %>
</div>
  <div class="col-md-8">
<li>
<%= link_to "#{gallery.name}",gallery_path(gallery) %></br>
   View:<%=gallery.impressionist_count  %></br>
   Create by:<%=gallery.user.name%></br>
  <%= link_to "Add",new_gallery_path%> |
   <%= link_to "Delete",gallery,:confirm=>"Are you sure?",method: :delete%> |
   <%= link_to "View Album",galleries_path%>
</li>
</div>
</div>
</div>
</div>
<% end %>
