<h1>Hello</h1>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a><%= link_to "Gallery",galleries_path%></a></li>
    <li class="breadcrumb-item active">Painting</li>
  </ol>
<div class="row">
  <div class="col-md-12">
    <%if current_user.name==@gallery.user.name%>
      <div><%= render 'paintings/gallery' %></div>
    <div><%= render 'paintings/form' %></div>
    <%else%>
    <div><%= render 'paintings/gallery1' %></div>
  <div><%= render 'paintings/form' %></div>
    <% end %>
  </div>
</div>
