<!DOCTYPE html>
<html>
  <head>
    <title>FastMail</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" >
          <%= link_to "FastMail", root_path, class: 'brand' %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" >
          <%= link_to "Home", root_path, class: 'link-to-text-color' %>
        </li>
      <li class="nav-item">
        <%= link_to "Album", album_path, class: 'link-to-text-color' %>
      </li>
      <li class="nav-item">
        <%= link_to "BLog", blog_path, class: 'link-to-text-color' %>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, class: 'link-to-text-color' %>
      </li>
      <% if logged_in? %>
      <li><%= link_to current_user[:name],current_user,class:'link-to-text-color'%></li>
      <li class="nav-item">
        <%= link_to "Logout", logout_path, class: 'link-to-text-color' %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Login", login_path, class: 'link-to-text-color' %>
      </li>
      <% end %>

        </ul>
      </div>
    </nav>
    <!-- Menu Left -->

    <div class="container-fluid">
    <div class="row">


        <div  class="col-3 col-sm-2 col-md-2 col-lg-1 col-xl-1 sidebar">


          <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
              <ul class="nav sidebar-nav">
                <li>
                    <a href="/blogs/index">Blog</a>
                </li>
                  <li>
                      <a href="/about">About</a>
                  </li>


                    </nav>
    </div>
        <div  class="col-9 col-sm-10 col-md-10 col-lg-11 col-xl-11">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
            <%= yield %>
        </div>
      </div>
</div>
      </body>
</html>
